<h1><%= @form.title %> Responses</h1>

<ul class="choices">

  <li><%= link_to 'Download Responses', noodall_admin_form_form_responses_path(@form, :csv), :class => 'button download', :title => "Download all of these responses." %></li>

</ul>

<div id="content-table">
 <table border="0" cellspacing="0" cellpadding="0" class="content">
  <thead>
    <tr>
      <th>Name</th>
      <th>Fields</th>
      <th width="100">Date</th>
      <th width="45">Delete</th>
    </tr>
  </thead>
  <tbody>
<% @responses.sort_by(&:created_at).reverse.each do |response| %>
    <tr id="form-<%= response.id %>" class="<%=cycle('odd', 'even')%>">
      <td class="edit"><%= mail_to response.email, h(response.name) %></td>
      <td><%= @form.fields.collect{|f| "<strong>#{f.name}:</strong> #{response.string_value(f.underscored_name)}" }.join(",&nbsp;").html_safe %></td>
      <td><%= h response.created_at.to_formatted_s(:long_dot) %></td>
      <td><%= link_to 'Delete', noodall_admin_form_form_response_path(@form, response), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this response' %>
          <%= link_to 'Mark as Spam', mark_as_spam_noodall_admin_form_form_response_path(@form, response), :class => 'spam', :title => 'Mark this response as spam and delete' %></td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Fields</th>
      <th width="100">Date</th>
      <th width="45">Delete</th>
    </tr>
  </tfoot>
</table>
</div>
