<style>
  ul.choices li a.button.delete-all-spam {
    background: url(/assets/admin/delete-all-spam.gif) no-repeat 0 0;
    width: 170px;
  }
  ul.choices li a.button.delete-all-spam:hover {
    background-position: -170px 0;
  }
</style>

<h1><%= @form.title %> Responses</h1>

<ul class="choices">

  <li><%= link_to 'Download Responses', noodall_admin_form_form_responses_path(@form, :csv, :page => params[:page]), :class => 'button download', :title => "Download all of these responses." %></li>

  <li><%= link_to 'Delete all Spam', destroy_all_spam_noodall_admin_form_form_responses_path(@form), :class => 'button delete-all-spam', :title => "Delete all of the spam responses for this form.", :method => :delete, :confirm => 'Are you sure you want to delete all the spam responses?' %></li>



</ul>

<div id="content-table">
<%= will_paginate(@responses) %>
 <table border="0" cellspacing="0" cellpadding="0" class="content">
  <thead>
    <tr>
      <th>Name</th>
      <th>Fields</th>
      <th width="100">Date</th>
      <th width="150">Spam</th>
      <th width="45">Delete</th>
    </tr>
  </thead>
  <tbody>
<% @responses.sort_by(&:created_at).reverse.each do |response| %>
    <tr id="form-<%= response.id %>" class="<%=cycle('odd', 'even')%>">
      <td class="edit"><%= mail_to response.email, h(response.name) %></td>
      <td><%= @form.fields.collect{|f| "<strong>#{f.name}:</strong> #{response.send(f.underscored_name)}" }.join(",&nbsp;").html_safe %></td>
      <td><%= h response.created_at.to_formatted_s(:long_dot) %></td>
      <td class="spam <%= 'flagged' unless response.approved %>">
        <% if response.approved  %>
          <%= link_to "Spam?", mark_as_spam_noodall_admin_form_form_response_path(@form, response), :method => :put %>
        <% else %>
          <%= link_to "Not Spam?", mark_as_not_spam_noodall_admin_form_form_response_path(@form, response), :method => :put %>
        <% end %>
      </td>
      <td><%= link_to 'Delete', noodall_admin_form_form_response_path(@form, response), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this response' %>
      </td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Fields</th>
      <th width="100">Date</th>
      <th width="150">Spam</th>
      <th width="45">Delete</th>
    </tr>
  </tfoot>
</table>
<%= will_paginate(@responses) %>
</div>
