<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= "#{@response.name}" %>,</p>

<p>Thank you for getting in contact.</p>

<p>We will be in touch shortly.</p>

<p>Regards<br />
<%= Noodall::UI.app_name %>
</p>


<p>
<strong>Original message</strong><br />
To: <%= @form.email %><br />
From: <%= @response.email %><br />
Subject: <%= "#{Noodall::UI.app_name}: Response to the #{@form.title} form." %><br />
</p>

    <table>
      <thead>
        <th>Field</th>
        <th></th>
      </thead>
      <tbody>
<%= render 'form_mailer/form_response_fields' %>
      </tbody>
    </table>
  </body>
</html>