<h1>Forms</h1>

<ul class="choices">

  <li><%= link_to 'New Form', new_noodall_admin_form_path, :class => 'button', :title => "Add new" %></li>

</ul>

<div id="content-table">
 <table border="0" cellspacing="0" cellpadding="0" class="content">
  <thead>
    <tr>
      <th>Title</th>
      <th>Email</th>
      <th width="120">Responses</th>
      <th width="45">Delete</th>
    </tr>
  </thead>
  <tbody>
<% @forms.each do |form| %>
    <tr id="form-<%= form.id %>" class="<%=cycle('odd', 'even')%>">
      <td class="edit"><%= link_to h(form.title), noodall_admin_form_path(form), :class => 'edit', :title => "Edit #{form.title}" %></td>
      <td><%= form.email %></td>
      <td class="child">
        <%= link_to pluralize(form.responses.ham.size, "Response"), noodall_admin_form_form_responses_path(form), :title => "View responses for #{h(form.title)}", :class => 'child-no' %> <%= link_to 'Download Responses', noodall_admin_form_form_responses_path(form, :csv), :class => 'download', :title => 'Download the responses for this form in CSV format' %></td>
      <td><%= link_to 'Delete', noodall_admin_form_path(form), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this form' %></td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Title</th>
      <th>Email</th>
      <th width="100">Responses</th>
      <th width="45">Delete</th>
    </tr>
  </tfoot>
</table>
</div>
