<% content_for :header, javascript_include_tag('admin/formbuilder') %>

<div class="row-fluid">
  <div class="span12">
    <h1><%= @form.new_record? ? 'Creating' : 'Editing' %> a Form</h1>
    <p>* Required Fields</p>
  </div> <!-- span12 -->
</div> <!-- row-fluid -->

<div class="row-fluid">
  <div class="span8">

<%= form_for(@form, :as => 'form', :html => {:class => "form-horizontal"}, :url => (@form.new_record? ? noodall_admin_forms_path : noodall_admin_form_path(@form.id)) ) do |f| %>
  <%= f.error_messages %>
  
<div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <i class="icon-info-sign pull-right icon-large help" title="title" data-trigger="hover" data-content="Enter a title for this form"></i>
    <div class="controls"><%= f.text_field :title, :class => "input-xlarge" %></div>
</div>

<div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <i class="icon-info-sign pull-right icon-large help" title="title" data-trigger="hover" data-content="Enter a description for this form"></i>
    <div class="controls"><%= f.text_area :description, :rows => "10",  :class => "input-xxlarge" %></div>
  </div>

<div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <i class="icon-info-sign pull-right icon-large help" title="title" data-trigger="hover" data-content="Enter an email address to recieve respsonses from this form"></i>
    <div class="controls"><%= f.text_field :email, :class => "input-xlarge" %></div>
  </div>

   <div class="control-group">
    <%= f.label :thank_you_message, :class => "control-label" %>
    <i class="icon-info-sign pull-right icon-large help" title="title" data-trigger="hover" data-content="Enter an message that will displayed once thet have submitted the form"></i>
    <div class="controls"><%= f.text_area :thank_you_message, :rows => "10",  :class => "input-xxlarge" %></div>
   </div>

   <div class="control-group">
    <%= f.label :thank_you_email, :class => "control-label" %>
    <i class="icon-info-sign pull-right icon-large help" title="title" data-trigger="hover" data-content="Enter a message they will see in the thank you email"></i>
    <div class="controls"><%= f.text_area :thank_you_email, :rows => "10", :class => "input-xxlarge" %></div>
  </div>

  </div> <!-- span8 -->
</div> <!-- row-fluid -->

<div class="row-fluid">
  <div class="span12 well">
    <fieldset>
        <%= render :partial => 'field_select' %>
        <!--
        <p id="text_field" class="field-help">
          <strong>Examples:</strong> Name, Telephone, Message<br/><br/>
          A text field can be 1 or more rows. A single row is used for recording something like a name or telephone number, multiple rows for something like a contact message.
        </p>
        <p id="select" class="field-help">
          <strong>Examples:</strong> Types of Enquiry, Types of Postal Delivery
        </p>
        <p id="multiselect" class="field-help">
          Similar to Select. <strong>Examples:</strong> Acceptable Contact Methods, Phone, Phone AND Email, Phone AND Text AND Mail
        </p>
        <p id="date_select" class="field-help">
          Similar to Select but allows you to select the day, month and year.
        </p>
        <p id="radio" class="field-help">
          <strong>Examples:</strong> Yes or No Questions, Multiple Choice<br/><br/>
          The radio button only allows one option to be chosen.
        </p>
        <p id="check_box" class="field-help">
          <strong>Examples:</strong> Selection of Favourite Dishes, Selection of Outdoor Activities<br/><br/>
          Check boxes can be on or off and unlike radio buttons in any number or combination
        </p>
        -->
        <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
          <thead>
            <tr>
             <th>
               Name
               <span class="tooltip" title="Enter a name for this field.">&nbsp;</span>
             </th>
             <th>
               Type
               <span class="tooltip" title="The type of form field that will be displayed.">&nbsp;</span>
             </th>
             <th>
               Label
               <span class="tooltip" title="Enter a label for this field.">&nbsp;</span>
             </th>
             <th>
               Default
               <span class="tooltip" title="Enter a default value to appear for this field.">&nbsp;</span>
             </th>
             <th width="70">
               Rows
               <span class="tooltip" title="Enter the number of rows for this field (the default is 1).">&nbsp;</span>
             </th>
             <th>
               Options
               <span class="tooltip" title="Enter a list of options for this select box (comma seperated).">&nbsp;</span>
             </th>
             <th width="96">
               Required
               <span class="tooltip" title="Choose if this field is required">&nbsp;</span>
             </th>
             <th colspan="2">Arrange</th>
             <th title="Delete this field" width="80">
               Delete
               <span class="tooltip" title="Delete this field">&nbsp;</span>
             </th>
            </tr>
          </thead>
          <tbody>
            <% @form.fields.each_with_index do |field, index| %>
              <%= render :partial => "noodall/admin/fields/#{field.class.name.gsub(/^Noodall::/, '').tableize.singularize}", :locals => {:field => field, :index => index} %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>
                Name
                <span class="tooltip" title="Enter a name for this field.">&nbsp;</span>
              </th>
              <th>
                Type
                <span class="tooltip" title="The type of form field that will be displayed.">&nbsp;</span>
              </th>
              <th>
               Label
               <span class="tooltip" title="Enter a label for this field.">&nbsp;</span>
              </th>
              <th>
               Default
               <span class="tooltip" title="Enter a default value to appear for this field.">&nbsp;</span>
              </th>
              <th width="70">
               Rows
               <span class="tooltip" title="Enter the number of rows for this field (the default is 1).">&nbsp;</span>
              </th>
              <th>
               Options
               <span class="tooltip" title="Enter a list of options for this select box (comma seperated).">&nbsp;</span>
              </th>
              <th width="96">
               Required
               <span class="tooltip" title="Choose if this field is required">&nbsp;</span>
              </th>
              <th colspan="2">Arrange</th>
              <th title="Delete this field" width="80">
               Delete
               <span class="tooltip" title="Delete this field">&nbsp;</span>
              </th>
            </tr>
          </tfoot>
        </table>
    </fieldset>
  </div> <!-- span12 -->
</div> <!-- row-fluid -->

<div class="form-actions">
  <%= f.submit @form.new_record? ? 'Create' : 'Update', :disable_with => 'Submitting...', :class => 'update btn btn-large btn-success' %>
  <%= link_to 'Cancel', noodall_admin_forms_path, :class => 'cancel btn btn-large btn-danger' %>
</div>

<% end %>